ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #5666;
}

li {
float: left;
border-right: 10px solid #566;
}

li a {
display: block;
color: white;
text-align: center;
padding: 20px 30px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}
body {
/* Old browsers */
background: #ffcccc;
/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(-45deg, #ffcccc, #00ffff);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(-45deg, #ff459, #0040ff);
margin: 0;
padding: 0;
}

h1 {
color: #FF6347;
font-size: 2em;
padding-top: 100px;
text-align: center;
width: 100%;
}

h2 {
border-bottom: 1px solid rgba(255, 255, 255, 0.5);
color: rgba(255, 255, 255, 0.5);
font-weight: 100;
font-size: 22px;
line-height: 24px;
padding-bottom: 30px;
text-align: center;
width: 100%;
}

p {
color: aliceblue;
line-height: 1.3em;
text-align: left;
width: 100%;
}

.byline {
font-family: Helvetica;
color: rgba(255, 255, 255, 0.5);
float: left;
font-size: 14px;
padding-left: 10px;
text-transform: uppercase;
}

.caption {
display: block;
font-family: 'Playfair Display', serif;
font-size: 34px;
font-style: italic;
line-height: 34px;
margin-left: 20px;
padding: 10px;
position: relative;
text-align: center;
top: 50%;
width: 90%;
}

.content {
padding: 40px;
}

.image {
background-image: url("https://tse1-mm.cn.bing.net/th/id/OIP-C.nRlAFygdctTCHmIWN7GxRwHaEK?w=333&h=187&c=7&r=0&o=5&dpr=1.25&pid=1.7");
background-size: cover;
background-position: left;
height: 900px;
}

.writer-img {
-webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
-moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
float: left;
width: 200px;
}
body {
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
}

caption {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #600;
}
thead {
	background-color: #333;
	color: white;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}
tbody th {
  background-color: #36c;
  color: #fff;
  text-align: left;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #D565;
}
tr:hover {background-color: #D6ff;}

.cell-highlight {
  background-color: green;
  font-weight: bold;
}
td {
  text-align: center;
}